<nav class="bg-indigo-700 shadow-lg fixed top-0 left-0 right-0 z-40">
    <div class="container flex items-center justify-between max-w-screen-xl px-8">
        {# Titre de l'application - reste à gauche, ne se réduit pas #}
        <div class="flex items-center flex-shrink-0">
            <a href="{% url 'dashboard_view' %}" class="text-white text-3xl font-bold flex-shrink-0 pr-8">Budgetosaurus</a>

            {# Conteneur des liens de navigation - prend l'espace restant, aligné à droite, pas de retour à la ligne #}
            <div class="flex flex-grow justify-end flex-nowrap space-x-4 overflow-x-auto">
                {# Liens de navigation principaux #}
                <a href="{% url 'dashboard_view' %}" class="text-white text-lg font-medium px-4 py-2 rounded-lg hover:bg-indigo-600 transition-colors duration-200 whitespace-nowrap">Tableau de Bord</a>
                <a href="{% url 'import_transactions_view' %}" class="text-white text-lg font-medium px-4 py-2 rounded-lg hover:bg-indigo-600 transition-colors duration-200 whitespace-nowrap">Importer Transactions</a>
                <a href="{% url 'review_transactions_view' %}" class="text-white text-lg font-medium px-4 py-2 rounded-lg hover:bg-indigo-600 transition-colors duration-200 whitespace-nowrap">Transactions à Revoir</a>
                <a href="{% url 'budget_overview' %}" class="text-white text-lg font-medium px-4 py-2 rounded-lg hover:bg-indigo-600 transition-colors duration-200 whitespace-nowrap">Aperçu Budgets & Fonds</a>
                <a href="{% url 'recap_overview_view' %}" class="text-white text-lg font-medium px-4 py-2 rounded-lg hover:bg-indigo-600 transition-colors duration-200 whitespace-nowrap">Récapitulatifs & Outils</a>
                <a href="{% url 'household_list' %}" class="text-white text-lg font-medium px-4 py-2 rounded-lg hover:bg-indigo-600 transition-colors duration-200 whitespace-nowrap">Ménages</a>
                <a href="{% url 'glossary_view' %}" class="text-white text-lg font-medium px-4 py-2 rounded-lg hover:bg-indigo-600 transition-colors duration-200 whitespace-nowrap">Glossaire</a>
                <a href="/admin/" class="text-white text-lg font-medium px-4 py-2 rounded-lg hover:bg-indigo-600 transition-colors duration-200 whitespace-nowrap">Admin Django</a>
            </div>
        </div>
    </div>
</nav>
