    {# webapp/templates/webapp/budget_overview.html #}
    {% extends 'webapp/base.html' %}

    {% block title %}Aperçu du Budget et Suivi{% endblock %}

    {% block extra_head %}
    {% endblock %}

    {% block content %}
        <h1 class="text-center text-3xl font-bold text-gray-800 mb-6">{{ page_title }}</h1>
        <p class="text-lg text-gray-700 mb-6 text-center">Aperçu pour {{ current_month_name }} {{ current_year }}</p>

        {% include 'webapp/budget_overview_includes/monthly_summary.html' %}

        <h2 class="text-2xl font-semibold text-gray-700 mb-4 mt-8">Récapitulatif Mensuel par Catégorie</h2> 
        <p class="text-gray-600 mb-6">Totaux des transactions pour {{ current_month_name }} {{ current_year }}.</p>
        {% include 'webapp/budget_overview_includes/monthly_category_summary_display.html' %}

        <h2 class="text-2xl font-semibold text-gray-700 mb-4 mt-8">Soldes des Enveloppes Budgétaires (Fonds Cumulatifs)</h2>
        <p class="text-gray-600 mb-6">Ces fonds représentent l'argent alloué et disponible pour chaque catégorie, ajusté par les transactions au fil du temps. Leur suivi est activé par catégorie.</p>
        {% include 'webapp/budget_overview_includes/funds_display.html' %}

        <h2 class="text-2xl font-semibold text-gray-700 mb-4 mt-8">Budgets Mensuels (Planification vs Réel)</h2>
        <p class="text-gray-600 mb-6">Votre budget planifié pour le mois comparé à vos dépenses réelles par catégorie. Les barres de progression vous indiquent votre avancement.</p>
        {% include 'webapp/budget_overview_includes/budgets_planning_display.html' %}

        <a href="{% url 'dashboard_view' %}" class="back-link">Retour au Tableau de Bord</a>
    {% endblock %}
    
