    {# webapp/templates/webapp/index.html #}
    {% extends 'webapp/base.html' %}

    {% block title %}Tableau de Bord{% endblock %}

    {% block extra_head %}
    {% endblock %}

    {% block content %}
        {# h1 stylé par h1 dans _base.css #}
        <h1 class="text-center text-3xl font-bold text-gray-800 mb-6">Tableau de Bord de Votre Budget</h1>

        {# h2 stylé par h2 dans _base.css #}
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">Soldes par Compte</h2>
        {# .balance-cards-grid est stylé dans pages/_dashboard.css #}
        <div class="balance-cards-grid">
            {% for name, data in account_balances.items %}
                {# .card est stylé dans components/_cards.css. Ses h3 et p aussi. #}
                <div class="card">
                    <h3>{{ name }}</h3>
                    {# .positive et .negative sont stylés dans _base.css #}
                    <p class="{% if data.balance >= 0 %}positive{% else %}negative{% endif %}">{{ data.balance|floatformat:2 }} {{ data.currency }}</p>
                </div>
            {% endfor %}
        </div>

        {% include 'webapp/dashboard_includes/transaction_form.html' %}

        {# h2 stylé par h2 dans _base.css #}
        <h2>Dernières Transactions</h2>
        {% include 'webapp/dashboard_includes/latest_transactions_table.html' %}
    {% endblock %}

    {% block extra_js %}
        {# Définir les données des catégories et sous-catégories en JSON à l'aide de json_script #}
        <script id="allCategoriesData" type="application/json">
            {{ all_categories_data_json|safe }}
        </script>
        <script id="allSubcategoriesData" type="application/json">
            {{ all_subcategories_data_json|safe }}
        </script>
        {# Inclure les scripts spécifiques au tableau de bord #}
        {% include 'webapp/dashboard_includes/dashboard_scripts.html' %}
    {% endblock %}
    