    {# webapp/templates/webapp/review_transactions.html #}
    {% extends 'webapp/base.html' %}

    {% block title %}Transactions à Revoir{% endblock %}

    {% block extra_head %}
    {% endblock %}

    {% block content %}
        {# h1 stylé par h1 dans _base.css #}
        <h1 class="text-center text-3xl font-bold text-gray-800 mb-6">{{ page_title }}</h1>

        {% include 'webapp/review_transactions_includes/transaction_list_table.html' %}

        <a href="{% url 'dashboard_view' %}" class="back-link">Retour au Tableau de Bord</a>

        {% include 'webapp/review_transactions_includes/edit_transaction_modal.html' %}
    {% endblock %}

    {% block extra_js %}
        {% include 'webapp/review_transactions_includes/review_transactions_scripts.html' %}
    {% endblock %}
    