{# webapp/templates/webapp/review_transactions_includes/edit_transaction_modal.html #}
{# Modale d'édition de transaction #}
<div id="editTransactionModal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Éditer la Transaction</h2>
        <form id="editTransactionForm" method="post">
            {% csrf_token %}
            <div id="modal-form-fields">
                {# Les champs du formulaire TransactionForm seront insérés ici par JS #}
                {# Un spinner de chargement peut être ajouté ici #}
                <p class="text-center text-gray-500">Chargement du formulaire...</p>
            </div>
            <button type="submit" class="w-full bg-blue-600 text-white p-3 rounded-md hover:bg-blue-700 transition duration-300 mt-4">
                Sauvegarder
            </button>
        </form>
    </div>
</div>
