{# webapp/templates/webapp/review_transactions_includes/transaction_list_table.html #}
{% if transactions_to_review %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Montant</th>
                <th>Compte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions_to_review %}
                <tr>
                    <td>{{ transaction.date|date:"d M Y" }}</td>
                    <td>{{ transaction.description }}</td>
                    <td class="transaction-amount {% if transaction.amount >= 0 %}income{% else %}expense{% endif %}">{{ transaction.amount|floatformat:2 }} {{ transaction.account.currency }}</td>
                    <td>{{ transaction.account.name|default:'N/A' }}</td>
                    <td>
                        <div class="action-buttons">
                            <button class="edit-btn" data-transaction-id="{{ transaction.id }}">Éditer</button>
                            <button class="delete-btn" data-transaction-id="{{ transaction.id }}">Supprimer</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="no-transactions">Aucune transaction à revoir pour le moment. Tout est catégorisé !</p>
{% endif %}
